<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>This page has been visited <%= count %> times</h1>
    </main>
    <%- include('../includes/end.ejs') %>
</body>